<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=s, initial-scale=1.0">
    <title>#{title}</title>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
    style
         include ../static/style.css
</head>

<body>
    <nav>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Services</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Contact Us</a></li>
        </ul>
    </nav>
    <div id="head">
        <h2 class="center">Welcome to Kang GYM.</h2>
        <p class="center">Exciting offers are currently in place.</p>
        <p class="center"> Avail them now!</p>
    </div>
    <div id="form-div">
        <form action="/" method="POST">
            <legend>Enter Your Details</legend>
            
                <label for="name"></label>
                <input type="text" name="name" placeholder="Enter your name" id="name">

                <label for="email"></label>
                <input type="text" name="email" placeholder="Enter your email" id="email">

                <label for="number"></label>
                <input type="number" name="number" placeholder="Enter your number" id="number">

                <label for="address"></label>
                <textarea name="address" id="address" cols="30" rows="10" placeholder="Enter your address"></textarea>

                <label for="message"></label>
                <textarea name="message" id="message" cols="30" rows="10" placeholder="Tell us more"></textarea>

                <button id="submitBtn">Submit</button>
            
        </form>
    </div>

</body>

</html>